<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>About Page</title>

    <link rel="stylesheet" href="/css/main.css">

</head>

<body>

    <h1>About</h1>

    <nav>

        <ul>

            <li><a href="/">Home</a></li>

            <li><a href="/about">About</a></li>

            <li><a href="/products">Products</a></li>

        </ul>

    </nav>

    <h1>Samuel Smith</h1>
    <img src="/images/about.webp" alt="Potrait of Samuel Smith and his wife">
    <p>Howdy! My name is Samuel Smith and I love my wife, music, and friends! I recently got married and am working right now as a handyman for the many appartment complexes here in Rexburg, Idaho!</p>
    <h3>Hobbies/Interests</h3>
    <ul>
        <li>The Gospel</li>
        <li>Music</li>
        <li>Technology</li>
        <li>Fixing Things!</li>
    </ul>
</body>

</html>