<%- include('partials/header') %>

<main>

    <h1><%= title %></h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda id nisi accusamus ut dolores. Fugiat, dolorem iste animi saepe sed non voluptas quam delectus maxime sapiente. Incidunt, fugiat ducimus harum totam saepe est suscipit autem, vitae beatae ullam quia facilis architecto magnam ea repellat! Facere officiis tempora nisi labore illum, adipisci rem repellat accusamus ab saepe voluptates deserunt porro nulla id commodi neque consequatur nostrum velit perspiciatis dolor nemo. Voluptate assumenda cumque molestiae temporibus sapiente distinctio qui nostrum accusamus, ipsa magni quas nemo repellendus totam autem dolorum iste aspernatur nobis voluptatem, labore quod excepturi magnam adipisci sequi. Saepe sequi et omnis nihil. Esse, quae! Eos aperiam aut praesentium. Quidem culpa explicabo libero assumenda illum aliquam ut cumque soluta exercitationem consequuntur, architecto pariatur natus eum iste minus corrupti ullam! Nam doloribus ipsum cum pariatur, a maxime error consequuntur nobis corporis ea numquam ipsam impedit tempora repellendus totam ad quam! Dicta quaerat, nisi temporibus obcaecati facere et deserunt fugiat illum aliquam omnis ab dolore consectetur quisquam! Possimus sed molestiae beatae! Eligendi, reprehenderit accusantium? Ipsum officiis, laudantium architecto ratione molestiae iusto, officia labore unde voluptatibus error rerum, nihil corrupti reprehenderit numquam velit fugit et eligendi? Fugiat, consequatur exercitationem? Atque dicta labore officia maxime laudantium placeat quaerat accusamus adipisci sed cum est quasi ipsum necessitatibus rem blanditiis eius repellendus magni veniam ab nemo officiis, omnis harum voluptates. Distinctio iste ipsam nemo omnis nisi nesciunt nostrum doloribus similique, repellendus hic dolor ad possimus quod tenetur impedit quas numquam ratione. Soluta at, inventore dicta assumenda ipsam aut debitis fugiat maxime sint possimus, dolor earum magnam eius ex non odio porro quia enim placeat quo accusamus fuga quaerat? Dolores architecto laboriosam provident, ipsam quaerat modi esse cum mollitia aliquid. Repudiandae debitis id eius non molestias. Itaque dolore voluptatum cum minima aut, hic fugiat enim explicabo quasi. Possimus, enim ab sunt eligendi quod ipsam ducimus illo repellat culpa. Quisquam quo provident omnis, et ut recusandae nisi ipsum autem aliquid quidem iure ullam ea aliquam facilis vitae error? Molestiae, laboriosam minus corporis voluptas asperiores laudantium! Dignissimos, nobis. Fuga esse, laboriosam labore voluptatem similique debitis incidunt molestiae sequi amet voluptatibus ratione placeat, ullam doloremque at ad fugit nisi tempore, ut odio nostrum! Nam est libero sapiente itaque optio veniam nostrum! A, ex impedit eius fugit, provident animi laboriosam nulla nostrum, eligendi eum praesentium. Suscipit perferendis, autem repellat in ea est distinctio nam omnis esse iste sunt? Voluptatibus voluptatum nemo nisi repudiandae suscipit sequi minus ut nam. Est fuga unde nobis eveniet. Officiis tenetur numquam, impedit dolorum quasi eius eligendi nemo, quo dignissimos perspiciatis ipsum accusamus nihil nostrum soluta, omnis iusto non reiciendis sequi veniam facilis iste temporibus velit blanditiis adipisci! Aliquam quos architecto, consectetur enim a, quas hic sequi ratione voluptatibus sed accusantium repudiandae ex provident asperiores assumenda minima. Magnam voluptate mollitia doloribus id officiis vel, veritatis dolore nihil, nulla sint ipsa nisi sunt earum culpa nobis numquam aperiam fugit exercitationem amet, soluta quidem quas quam eum consequatur. Vel at modi est obcaecati tenetur explicabo maiores ad non dignissimos magni.</p>

</main>

<%- include('partials/footer') %>


<!-- <!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cataloge</title>

    <link rel="stylesheet" href="/css/main.css">

</head>

<body>

    <h1>What We Offer</h1>

    <nav>

        <ul>

            <li><a href="/">Home</a></li>

            <li><a href="/about">About</a></li>

            <li><a href="/products">Products</a></li>

        </ul>

    </nav>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda id nisi accusamus ut dolores. Fugiat, dolorem iste animi saepe sed non voluptas quam delectus maxime sapiente. Incidunt, fugiat ducimus harum totam saepe est suscipit autem, vitae beatae ullam quia facilis architecto magnam ea repellat! Facere officiis tempora nisi labore illum, adipisci rem repellat accusamus ab saepe voluptates deserunt porro nulla id commodi neque consequatur nostrum velit perspiciatis dolor nemo. Voluptate assumenda cumque molestiae temporibus sapiente distinctio qui nostrum accusamus, ipsa magni quas nemo repellendus totam autem dolorum iste aspernatur nobis voluptatem, labore quod excepturi magnam adipisci sequi. Saepe sequi et omnis nihil. Esse, quae! Eos aperiam aut praesentium. Quidem culpa explicabo libero assumenda illum aliquam ut cumque soluta exercitationem consequuntur, architecto pariatur natus eum iste minus corrupti ullam! Nam doloribus ipsum cum pariatur, a maxime error consequuntur nobis corporis ea numquam ipsam impedit tempora repellendus totam ad quam! Dicta quaerat, nisi temporibus obcaecati facere et deserunt fugiat illum aliquam omnis ab dolore consectetur quisquam! Possimus sed molestiae beatae! Eligendi, reprehenderit accusantium? Ipsum officiis, laudantium architecto ratione molestiae iusto, officia labore unde voluptatibus error rerum, nihil corrupti reprehenderit numquam velit fugit et eligendi? Fugiat, consequatur exercitationem? Atque dicta labore officia maxime laudantium placeat quaerat accusamus adipisci sed cum est quasi ipsum necessitatibus rem blanditiis eius repellendus magni veniam ab nemo officiis, omnis harum voluptates. Distinctio iste ipsam nemo omnis nisi nesciunt nostrum doloribus similique, repellendus hic dolor ad possimus quod tenetur impedit quas numquam ratione. Soluta at, inventore dicta assumenda ipsam aut debitis fugiat maxime sint possimus, dolor earum magnam eius ex non odio porro quia enim placeat quo accusamus fuga quaerat? Dolores architecto laboriosam provident, ipsam quaerat modi esse cum mollitia aliquid. Repudiandae debitis id eius non molestias. Itaque dolore voluptatum cum minima aut, hic fugiat enim explicabo quasi. Possimus, enim ab sunt eligendi quod ipsam ducimus illo repellat culpa. Quisquam quo provident omnis, et ut recusandae nisi ipsum autem aliquid quidem iure ullam ea aliquam facilis vitae error? Molestiae, laboriosam minus corporis voluptas asperiores laudantium! Dignissimos, nobis. Fuga esse, laboriosam labore voluptatem similique debitis incidunt molestiae sequi amet voluptatibus ratione placeat, ullam doloremque at ad fugit nisi tempore, ut odio nostrum! Nam est libero sapiente itaque optio veniam nostrum! A, ex impedit eius fugit, provident animi laboriosam nulla nostrum, eligendi eum praesentium. Suscipit perferendis, autem repellat in ea est distinctio nam omnis esse iste sunt? Voluptatibus voluptatum nemo nisi repudiandae suscipit sequi minus ut nam. Est fuga unde nobis eveniet. Officiis tenetur numquam, impedit dolorum quasi eius eligendi nemo, quo dignissimos perspiciatis ipsum accusamus nihil nostrum soluta, omnis iusto non reiciendis sequi veniam facilis iste temporibus velit blanditiis adipisci! Aliquam quos architecto, consectetur enim a, quas hic sequi ratione voluptatibus sed accusantium repudiandae ex provident asperiores assumenda minima. Magnam voluptate mollitia doloribus id officiis vel, veritatis dolore nihil, nulla sint ipsa nisi sunt earum culpa nobis numquam aperiam fugit exercitationem amet, soluta quidem quas quam eum consequatur. Vel at modi est obcaecati tenetur explicabo maiores ad non dignissimos magni.</p>

</body>

</html> -->